/*mapas*/
.texto__index {
  font-size: 20px;
  color: whitesmoke; }

/*index*/
body {
  background: linear-gradient(black, grey, black); }

.texto__titulo {
  color: #ec0b0b;
  text-align: center;
  font-size: 55px;
  font-family: 'Creepster', cursive; }

.img__index {
  display: inline-block;
  margin: 5px;
  padding: 2px; }
  .img__index .fotosindex__lechuza {
    width: 200px;
    height: 200px; }

footer div a {
  text-decoration: none;
  text-align: start; }

/* extends*/
.fotosindex__lechuza, div .img__servicio, .img__katy, .main__galeria .img__galeria {
  border: 4px solid whitesmoke;
  border-radius: 4px; }

.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; }

.facebook, .etiqueta {
  position: absolute;
  bottom: 1px;
  left: 570px; }

.logosRedes {
  width: 12%;
  background-color: whitesmoke;
  border-radius: 15px;
  margin-bottom: 30px; }

.instagram, .etiqueta2 {
  position: absolute;
  bottom: 1px; }

.twitter, .etiqueta3 {
  position: absolute;
  bottom: 1px;
  right: 550px; }

/*mixin*/
.fotosindex__lechuza:hover {
  transform: scale(1.2); }

.img__galeria:hover {
  transform: scale(1.2); }

.img__galeria:hover {
  opacity: 50%;
  color: transparent; }

/*servicios*/
.logo {
  width: 10%;
  position: absolute;
  top: 0px;
  left: 200px; }

h2 {
  color: red;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px; }

div h3 {
  margin: 10px;
  color: red;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px; }

div p {
  text-align: center;
  color: whitesmoke;
  margin: 10px; }

div .img__servicio {
  width: 17%; }

/*biografia*/
.titulo__bio {
  color: #ec0b0b;
  text-align: center;
  font-size: 55px;
  font-family: 'Creepster', cursive; }

.img__katy {
  width: 500px;
  height: 500px;
  border-radius: 50px;
  margin: 8px; }

.textoKaty {
  text-align: center;
  color: blanchedalmond;
  font-size: 20px; }

.logoBio {
  width: 30%;
  background-color: whitesmoke;
  border-radius: 15px;
  margin-bottom: 30px; }

/*Galeria*/
.main__galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .main__galeria .img__galeria {
    width: 300px;
    height: 350px;
    margin: 5px; }

/*contacto*/
.textoFormulario {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .textoFormulario .tituloFormulario {
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase; }
  .textoFormulario .preguntas {
    color: whitesmoke;
    font-size: 16px;
    text-transform: uppercase; }

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; }

.imgRedes {
  width: 30%;
  background-color: whitesmoke;
  border-radius: 15px;
  margin-bottom: 30px; }

/* Media Querie*/
@media (max-width: 700px) and (min-width: 400px) {
  .video {
    display: none; }
  .logoNo {
    display: none; }
  .logo {
    width: 10%;
    position: absolute;
    top: 0px;
    left: 90%; } }
