/* Media Querie*/

@media (max-width:700px) and (min-width:400px) {
    .video{
        display: none;
    }
    
   
    .logoNo{
        display: none;
    }

    .logo{
    width: 10%;
    position: absolute;
    top: 0px;
    left: 90%;
    }

}