/*mixin*/

@mixin animacion{
    &:hover{
        transform:scale(1.2)
    }
    
}

@mixin opacidad{
    &:hover{
    opacity: 50%;
    color: transparent;
    }
}

.fotosindex__lechuza{@include animacion}

.img__galeria{@include animacion}
.img__galeria{@include opacidad}

